body {
    margin: 0;
    padding: 0;
}


main {
    padding: 16;
}


footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}


img {
    height: 200px;
}


nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
